     <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid fs-1"> <a class="navbar-brand " id="brand-text" href="#">E-library FWU</a> <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                
                        <%= link_to 'New Document', new_document_path, class:"nav-item nav-link fs-6 fw-bold " %>

                        <li class="nav-item"> <a class="nav-link" href="#">Data Ownership</a> </li>
                        <li class="nav-item"> <a class="nav-link" href="#">How it works</a> </li>
                        <li class="nav-item"> <a class="nav-link " href="#">Pricing</a> </li>
                    </ul>
                    <form action="">
                        <div class="btn btn-primary"> login </div>
                    </form>
                </div>
            </div>
        </nav>














        